@import url("react-toastify/dist/ReactToastify.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  min-height: 100vh;
}

@layer base {
  ::selection {
    @apply bg-rose-500 text-white
  }
}

::-webkit-scrollbar {
  width: 8px; /* Độ rộng của thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background-color: #888888; /* Màu sắc của đối tượng cuộn */
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5; /* Màu sắc của vùng còn lại của thanh cuộn */
}